In [2]:
import pandas as pd

In [3]:

data=pd.read_csv('./Saber_pro.csv', sep=';')

In [4]:
display(data.isnull().sum())
data=data.dropna(axis = 0)

nota                            0
genero                          0
estu_edad_examen               67
estado_civil                    0
estu_hogar_actual               0
estu_sn_cabeza_fmlia            0
estu_pers_cargo                66
fami_nivel_educa_padres         0
fami_ocup_padre                 0
fami_ocup_madre                 0
inst_tipo                       0
inst_caracter_academico         0
inst_acreditada                 0
prog_acreditado                 0
inst_programa_zona              0
estu_metodo_prgm                0
estu_area_conoc                 0
area_grupo_referencia           0
estu_pje_creditos              96
estu_titulo_bto                 0
estu_financiacion_matricula     0
estu_estrato                    0
fami_nivel_sisben               0
econ_condicion_vivienda         0
eco_condicion_hogar             0
eco_condicion_transporte        0
eco_condicion_tic               0
eco_condicion_vive             68
fami_ing_fmliar_mensual         0
estu_trabaja                    0
num_estu_zona                   0
num_instituciones_zona          0
dtype: int64

In [6]:
mayor_media=len(data[data['nota'] == 'SOBRE LA MEDIA'])
bajo_media=len(data[data['nota'] == 'BAJO LA MEDIA'])

print(mayor_media,bajo_media)

38475 38944

In [7]:
Y = data['nota']
X = data.drop(labels=['nota'],axis=1)
display(Y)

0         BAJO LA MEDIA
1        SOBRE LA MEDIA
2         BAJO LA MEDIA
3         BAJO LA MEDIA
4         BAJO LA MEDIA
              ...
77644     BAJO LA MEDIA
77645     BAJO LA MEDIA
77646    SOBRE LA MEDIA
77647     BAJO LA MEDIA
77648     BAJO LA MEDIA
Name: nota, Length: 77419, dtype: object

In [14]:
df_dummies=pd.get_dummies(X)
display(df_dummies)

,estu_edad_examen,num_estu_zona,num_instituciones_zona,genero_F,genero_M,estado_civil_CASADO(A),estado_civil_SEPARADO(A) Y/O DIVORCIADO,estado_civil_SOLTERO(A),estado_civil_UNION LIBRE,estado_civil_VIUDO(A),...,fami_ing_fmliar_mensual_CUATRO SALARIOS,fami_ing_fmliar_mensual_DOS SALARIOS,fami_ing_fmliar_mensual_SEIS SALARIOS,fami_ing_fmliar_mensual_SIETE SALARIOS,fami_ing_fmliar_mensual_TRES SALARIOS,fami_ing_fmliar_mensual_UN SALARIO,estu_trabaja_NO,"estu_trabaja_SI, PARA ADQUIRIR EXPERIENCIA Y/O RECURSOS PARA SUS GASTOS PERSONALES","estu_trabaja_SI, PARA CONTRIBUIR A PAGAR SU MATRICULA Y/O LOS GASTOS DEL HOGAR","estu_trabaja_SI, POR SER PRACTICA OBLIGATORIA DEL PROGRAMA DE ESTUDIOS"
0,24.0,13733,64,0,1,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
1,23.0,16500,78,1,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
2,30.0,33544,73,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
3,20.0,13519,56,1,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
4,34.0,13345,64,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77644,22.0,33544,73,1,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
77645,22.0,5283,21,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
77646,22.0,13733,64,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
77647,23.0,33544,73,1,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
77648,43.0,16500,78,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [9]:
Y = Y.str.replace('SOBRE LA MEDIA','1')
Y = Y.replace('BAJO LA MEDIA','0')
display(Y)

0        0
1        1
2        0
3        0
4        0
        ..
77644    0
77645    0
77646    1
77647    0
77648    0
Name: nota, Length: 77419, dtype: object

In [16]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(df_dummies,Y,test_size=0.3,random_state=0)

print("Sobre la media", y_train[y_train=='1'].count())
print("Bajo la media", y_train[y_train=='0'].count())
print("TEST")
print("Sobre la media", y_test[y_test=='1'].count())
print("Bajo la media", y_test[y_test=='0'].count())

Sobre la media 26937
Bajo la media 27256
TEST
Sobre la media 11538
Bajo la media 11688

In [17]:

from sklearn import tree
#arbol de 4 niveles max_depth=4
modelo=tree.DecisionTreeClassifier(max_depth=4,criterion='entropy')

#entrena la variable
modelo.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [21]:
from sklearn.externals.six import StringIO 
from sklearn.tree import export_graphviz
import pydotplus
from IPython.display import Image 
#pip install graphviz
#pip install pydotplus
dot_data = StringIO()

feature_cols=X_train.columns
export_graphviz(modelo, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = feature_cols,class_names=['0','1'])

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('arbol.png')
Image(graph.create_png())

InvocationException: GraphViz's executables not found